.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container > div {
  display: flex;
}
.container .input {
  max-width: 700px;
  margin: 30px auto 30px 0px;
  text-align: center;
}

.loading {
  width: 130px;
}
