.showPageContainer {
  width: 100%;
}
.showPageContainer > div {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.showPageContainer > div > div {
  width: 69%;
  margin-right: 30px;
}

.showNameblock {
  width: 100%;
  display: inline-block;
  margin: 2px 0px !important;
  padding: 8px 2px !important;
}

.closeCollapse {
  margin-left: 50px;
  background-color: red;
  color: beige;
  padding: 5px 10px;
  cursor: pointer;
  float: right;
}
